  .speakerOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .speakerInnerContainer {
    width: 40%;
  }

  .speaker {
    display: flex;
    width: 100%;
  }

  .speakerImg {
    display: flex;
    flex-direction: column;
  }

  .speakerMedia {
    display: flex;
    flex-direction: row;
  }

  img {
    max-width: 100%;
    height: 100px;
  }

  i {
      color: white;
      padding-left: 7px;
      padding-top: 5px
  }
  
  .speakerDetails {
    color: #FFFFFF;
    font-style: italic;
    font-weight: 500;
    font-family: 'Montserrat';
    border-radius: 0;
    padding: 20px;
    width: 100%;
    text-align: left;
  }
  
  .heading {
    color: #29CCC4;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 10px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .speakerOuterContainer {
      height: 100%;
    }
  
    .speakerInnerContainer {
      width: 90%;
    }
  
  }
  
  button:focus {
    outline: 0;
  }

  .aboutSpeaker {
    color: #FFFFFF;
    font-style: italic;
    font-weight: 500;
    font-family: 'Montserrat';
    border-radius: 0;
    padding: 20px;
    font-size: 20px;
  }