.border {
  border: double 4px transparent;
  border-radius: 25px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 3px solid transparent;
  background-image: linear-gradient(to right, #040407, #231c3f),
    radial-gradient(circle at top left, #071e30, #0dacf6);
  border-image-slice: 1;
}
